h1 {
    display: inline-block;
    font-size: 2.5em;
    margin-top: 0.67em;
    font-weight: bold;
    color: black;
    font-family: PT Sans;
    text-align: center;
}

h2 {
  font-size: 1.9em;
  margin top: 0px;
  font-family: PT Sans;
  text-align: center;
}


h3{
    display: inline-block;
  font-size: 1.2em;
  margin: 10px;
  font-family: PT Sans;
  text-align: center;
  font-weight: lighter;
}

h3.footer-header {
  text-align: left;
}

h4{
  font-size: .9em;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: inline-block;
}

.head-stars {
list-style: none;
margin-top: 3px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
padding:0px;
text-align: center;
font-family: PT Sans;
}

.head-stars li{
    display:inline;
    padding: 45px;
  }

#BeanVid {
  position: stretch;
    width: 100%;
    height: 50%;
    padding: 0px;
    background: #CCC;
    opacity: 0.5;
}

.dine-button{
    display:inline-block;
    width:175px;
    height:175px;
     line-height:50px;
     border: 2px solid #79AAC4;
     border-radius: 50%;
     color: white;
     text-align:  center;
     text-decoration:none;
     font-size: 2em;
     background: #79AAC4;
     box-shadow: 0 0 3px gray;
     font-weight:bold;
     padding: 25px;
     margin: 50px;

 }
 .dine-button:hover {
     background: #E45656;
 }

 .go-button{
     display:inline-block;
     width:175px;
     height:175px;
      line-height:50px;
      border: 2px solid #A37FAF;
      border-radius: 50%;
      color: white;
      text-align:  center;
      text-decoration:none;
      font-size: 2em;
      background: #A37FAF;
      box-shadow: 0 0 3px gray;
      font-weight:bold;
      padding: 25px;
      margin: 50px;


  }
  .go-button:hover {
    background: #E45656;
 }

  .shop-button{
      display:inline-block;
      width:175px;
      height:175px;
       line-height:50px;
       border: 2px solid #7EB768;
       border-radius: 50%;
       color: white;
       text-align:  center;
       text-decoration:none;
       font-size: 2em;
       background: #7EB768;
       box-shadow: 0 0 3px gray;
       font-weight:bold;
       padding: 25px;
       margin: 50px;


   }
   .shop-button:hover {
       background: #E45656;

   }

#HomeButtons{
  position: relative;
}

#HomeButtons video{
  position:relative;
    z-index:0;
}



.overlay {
  position:absolute;
    top:20%;
    left:18%;
    z-index:1;
    text-align: center;
}

.overlay a{
  padding: 20px;

}

.ButtonImages {
  display: block;
  margin: auto;
}

.FooterTitle{
  text-align: left;
  font-weight: lighter;
  font-size: 18px;
  color: #E45656;

}

.FooterLinks{
  text-align: left;
  font-size: 1em;
  line-height: 30px;
  display: block;
  color: white;
}

.FooterLinks:hover{
  color: #E45656;
}

footer{
  padding: 25px;
  background-color: #333333;
}

.ContactIcons{
  display: inline;
  overflow: auto;
  float: left;
  padding: 5px;
}
