
h1 {
    display: inline-block;
    font-size: 2.5em;
    margin-top: 0.67em;
    font-weight: bold;
    color: black;
    font-family: PT Sans;
    text-align: center;
}
.head-stars {
list-style: none;
margin-top: 3px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
padding:0px;
text-align: center;
font-family: PT Sans;

}
.head-stars li{
    display:inline;
    padding: 45px;
  }

.nav{
    list-style:none;
    margin:0;
    padding:0px;
    text-align: center;
    font-family: PT Sans;
}
.nav li{
    display:inline;
    padding: 10px;

}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
.nav li a:hover {
  color: #0073e6;
}

 #Goheader {
     width:100%;
     color:#4C97AB;
     text-align:center;
}

 #Gotable {
     width:100%;
 }

 #Gotablehead1 {
     width:200px;
 }
 #Gotablehead2 {
     width:200px;
 }

table, th {
    border: 1px solid black;
}

.imgs {
    height:50px;
    width:50px;
}
#Gotablehead1, #dinetablehead2 {
    background-color:#94D4E5;
}
